# Copyright 2022 Nokia
# Licensed under the BSD 3-Clause License.
# SPDX-License-Identifier: BSD-3-Clause

---
name: CICD
on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:
  workflow_dispatch:

env:
  GOVER: 1.24.9
  CGO_ENABLED: 0

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GOVER }}
      - name: Test
        run: make test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5

  golang-ci-lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GOVER }}
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          # args: --config=./.github/workflows/linters/.golangci.yml
          version: "v2.1"

  release:
    runs-on: ubuntu-24.04
    if: startsWith(github.ref, 'refs/tags/v')
    needs:
      - golang-ci-lint
      - test
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GOVER }}

      - name: Build container
        run: "IMG=ghcr.io/srl-labs/srl-controller:$GITHUB_REF_NAME make only-docker-build"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push container
        run: |
          docker push ghcr.io/srl-labs/srl-controller:$GITHUB_REF_NAME
          docker tag ghcr.io/srl-labs/srl-controller:$GITHUB_REF_NAME ghcr.io/srl-labs/srl-controller:latest
          docker push ghcr.io/srl-labs/srl-controller:latest

      - name: Create GH release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
